@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;700&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
}

.container{
    padding-left: 5rem;
    padding-right: 5rem;
}