@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;700&display=swap');

:root {
    --primary-color: red;
    --secondary-color: #15803d;
    --tertiary-color: #e2e8f0;
}


/**Body*/
body {
    font-family: 'Noto Sans', sans-serif;
}

hr {
    margin: 2rem;
}


/** Containers**/
.container {
    padding-left: 5rem;
    padding-right: 5rem;
}

.container-fluid {
    color: red;
    margin: auto;
}

.container-center {
    color: blue;
    max-width: 500px;
    margin: auto;
}


/* Link */
.link {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
}

.primary-link {
    color: white;
    background-color: #6d28d9;
    border-color: black;
    border: 1px solid #6d28d9
}

.secondary-link {
    color: #6d28d9;
    background-color: white;
    margin: 1rem;
    border: 1px solid #6d28d9;

}


/* Lists */
.list-non-bullet {
    list-style: none;
}

.list-inline {
    display: inline;
    margin: 0.1rem;
    padding: 0rem 0.5rem;
    text-align: right;
}


/* Navigation */
.navigation-brand {
    font-weight: bold;
}

.navigation-container {
    background-color: #6d28d9;
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.navigation-pills {
    text-align: right;
}

.navigation-container .link {
    color: white;
}

.navigation-container .link-active {
    font-weight: bold;
}


/* Header */
.header {
    font-size: bold;
    padding: 2rem;
}

.header .header-img {
    max-width: 400px;
    display: block;
    margin: auto;
}

.header .header-focus {
    color: var(--secondary-color);
}


/* Section */
.section-center h3,
p {
    text-align: center;
    padding: 1rem, 1rem;
}

.section-off-white {
    background-color: var(--tertiary-color);
}